<div>
  <app-tabs>
    <app-tab title="Timers">
      <app-timer
        *ngFor="let timer of timers"
        init="{{ timer }}"
        (onComplete)="logCountDownEnd()"
      ></app-timer>
    </app-tab>
    <app-tab title="Crono">
      Crono. Not available.
    </app-tab>
    <app-tab title="Alerm">
      Alarm. Not available.
    </app-tab>
  </app-tabs>

  <button class="add" (click)="showAddTimer()">+</button>

  <app-alert-view [hidden]="!isAddTimerVisible">
    <label>Set the number of seconds for your timer</label>
    <input [(ngModel)]="time" type="number" />

    <button (click)="hideAddTimer()" class="cancel-button">Cancel</button>
    <button (click)="submitAddTimer()">Ok</button>

    <div class="header">
      This is my header
    </div>
  </app-alert-view>

  <app-alert-view [hidden]="!isEndTimerAlertVisible">
    <label>Timer Ended</label>
    <div>YOur coundown has finished</div>
    <button (click)="hideEndTimerAlert()">Ok</button>
  </app-alert-view>

  <app-simple-alert-view></app-simple-alert-view>
</div>
